@import '../../../scss/sass-variables';
@import '../../../scss/typography';
@import '../../../scss/mixins';


.projects-nav {
    color: $color-red;
    font-size: $button-project-nav-font-size;
    text-transform: uppercase;
    background-color: $color-bg-gray;
    margin-top: 10rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: $vertical-padding-base;
    padding-right: $vertical-padding-base;

    display: flex;
    flex-direction: column;
    gap: 4rem;


    @include mq($bp-medium) {
        padding-top: 8rem;
        padding-bottom: 8rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @include mq($bp-large) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    &__item svg {
        padding-top: 1px;
        height: 1.6rem;
        width: 1.6rem;
        fill: $color-bg-red;
    }

    &__item--prev,
    &__item--next {
        font-weight: $font-weight-bold;
        display: flex;
        align-items: center;
        gap: .8rem;
    }

    &__item--all {
        display: flex;
        justify-content: center;
    }

    &__item--next {
        justify-content: flex-end;
    }

    &__item--prev,
    &__item--all,
    &__item--next {
        transition: $hover-transition-btn;
        cursor: pointer;
  
        &:hover {
           background-color: transparent;
           color: transparent;
           box-shadow: none;
           text-shadow: $text-shadow-red;
        }
    }

}






