@import '../../scss/mixins';
@import '../../scss/sass-variables';


.btn {

    &--primary,
    &--secondary {
        font-family: $font-btn-secondary;
        text-transform: uppercase;
        text-align: center;
        line-height: 80%;
        display: inline-block;

        border-radius: 4rem;
        padding: 2rem 0;
        width: 100%;

        transition: $hover-transition-btn;
        cursor: pointer;

        background-position: bottom;
        background-size: 100% 0%;
        background-repeat: no-repeat;

        @include mq($bp-lowermedium) {
            width: auto;
            padding: 2rem 3.2rem;
        }
    }

    &--primary {
        background-color: $color-bg-green;
        font-size: $button-primary-font-size;

        &:hover {
            color: $color-green;
            background-color: $color-bg-blue;
            box-shadow: 0 0 3.2rem $color-bg-green;
        }
    }

    &--secondary {
        border: 2px solid $color-bg-blue;
        font-size: $button-secondary-font-size;

        &:hover {
            color: $color-green;
            background-color: $color-bg-blue;
            box-shadow: 0 0 3.2rem $color-bg-green;
        }
    }

    &--terciary {
        font-family: $font-btn-primary;
        font-weight: $font-weight-bold;
        font-size: $button-terciary-font-size;
        text-transform: uppercase;
        white-space: nowrap;
        padding-left: 0;
        padding-right: 0;

        transition: $hover-transition-btn;
        cursor: pointer;

        &:hover {
            background-color: transparent;
            color: transparent;
            box-shadow: none;
            text-shadow: $text-shadow-blue;
        }
    }
}