@import '../../../scss/sass-variables';
@import '../../../scss/mixins';


.project-intro {
    

    @include mq($bp-uppermedium) {
        display: flex;
        align-items: center;
    }

    &__text {
        font-family: $font-p-main-bigger;
        font-size: 3.6rem;
        z-index: 1;

        @include mq($bp-lowermedium) {
            font-size: 4rem;
        
        }

        @include mq($bp-medium) {
            font-size: 4.4rem;
        
        }

        @include mq($bp-uppermedium) {
            width: 70%;
        }

        @include mq($bp-lowerlarge) {
            width: 60%;
        }
    
        @include mq($bp-large) {
            font-size: 5.2rem;
    
        }
    
        @include mq($bp-xlarge) {
            font-size: 6.8rem;
            
        }
    }

    &__image--desktop {
        width: 100%;
        opacity: 0.2;
        transition: opacity 0.3s ease-in-out;
        z-index: 0;
        // object-fit: cover;
        // margin: 2rem 0 8rem;
        // box-shadow: 0 0 .6rem $color-bg-gray;

        position: relative;
        // width: 50%;

        &:hover {
            opacity: 1;
            position: absolute;
            top: 40;
            left: 40;
            z-index: 2;
        }
        

        &--mobile {
            border-radius: 1.6rem;

            @include mq($bp-lowermedium) {
                display: none;
            }
           
        }

        &--desktop {
            border-radius: 1.6rem;
            
            // position: absolute;
            // inset: 100% 0 0 15%;
    



            @include mq($bp-uppermedium) {
                border-radius: 2.4rem;
            }

            @include mq($bp-lowerlarge) {
                
            }

            @include mq(591px, max-width) {
                display: none;
            }

        }
    }

}







