@import '../../../scss/sass-variables';
@import '../../../scss/mixins';


.project-hero {

    &--flex {
        display: flex;
        flex-direction: column;
        gap: 2;
    
        @include mq($bp-medium) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;
        margin: 2rem 0 8rem;
        box-shadow: $color-box-shadow-project;

        @include mq($bp-uppermedium) {
            margin-bottom: 12rem;
        }

        @include mq($bp-lowerlarge) {
            margin-bottom: 16rem;
        }

        &--mobile {
            border-radius: 1.6rem;

            @include mq($bp-lowermedium) {
                display: none;
            }
           
        }

        &--desktop {
            border-radius: .8rem;


            @include mq($bp-uppermedium) {
                border-radius: 1.6rem;
            }

            @include mq(591px, max-width) {
                display: none;
            }

        }
    }
}






