@import './sass-variables';
@import './mixins';




.contact {

    &__desc {
        padding-top: 2.8rem;
        padding-bottom: 4.4rem;

        @include mq($bp-medium) {
            width: 70%;
        }

        @include mq($bp-large) {
            width: 50%;
        }
    }


    &__email-container {
        padding-bottom: 8rem;

        @include mq($bp-large) {
            padding-bottom: 10rem;
        }

        @include mq($bp-xlarge) {
            padding-bottom: 8rem;
        }
    }

    &__link__item {
        font-family: $font-btn-primary;
        font-weight: $font-weight-bold;
        font-size: $button-font-size-sm;
        text-transform: uppercase;
        white-space: nowrap;

        transition: $hover-transition-btn;
        cursor: pointer;

        &:hover {
            text-transform: lowercase;
        }
    }

    &__profiles {
        background-color: $color-bg-green;
        padding-left: $vertical-padding-base;
        padding-right: $vertical-padding-base;
        padding-top: 6rem;
        padding-bottom: 6rem;

        @include mq($bp-xlarge) {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }

        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.2rem;
            padding-top: 2.8rem;

            @include mq($bp-medium) {
               display: grid;
               grid-template-columns: 1fr 1fr 1fr;
            }

            @include mq($bp-lowerlarge) {
                display: flex;
                gap: 4rem;
            }
        }
    }

    & svg {
        padding-top: 2px;
        margin-right: .4rem;
        height: 1.6rem;
        width: 1.6rem;
        fill: $color-bg-blue;
    }
}
