@import './mixins';
@import './sass-variables';



.about-section {

    &__text {
        display: grid;
        grid-template-columns: 1fr;
        gap: 6rem;
        padding-top: 3.6rem;

        @include mq($bp-uppermedium) {
            grid-template-columns: 1fr 1fr;
            padding-top: 6rem;
        }
    }

    &__socials {

        &__btn {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;
            padding-bottom: 12rem;


            @include mq($bp-lowermedium) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2rem;
                padding-bottom: 10rem;
            }

            @include mq($bp-medium) {
                display: flex;
                gap: 2rem;
                justify-content: flex-end;

            }
        }
    }
}

.cards-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;

    @include mq($bp-medium) {
        grid-template-columns: 1fr 1fr;
        gap: 4.4rem;
    }

    @include mq($bp-large) {
        gap: 6rem;
    }

    @include mq($bp-xlarge) {
        gap: 12rem;
    }
}

.cta-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
    padding: 10rem 0;

    @include mq($bp-large) {
        padding: 24rem 0;
    }

    @include mq($bp-xlarge) {
        padding: 28rem 0;
    }

    &__claim {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


