@import './mixins';
@import './sass-variables';



.intro__hero__title {
    font-family: $font-primary-assistant;
    font-weight: $font-weight-regular;
    font-size: 4.4rem;


    @include mq($bp-medium) {
        font-size: 6.8rem;
     }
  
     @include mq($bp-large) {
        font-size: 10rem;
     }
  
     @include mq($bp-xlarge) {
        font-size: 14rem;
     }
}

.portfolio__header {
    font-family: $font-secondary;
    text-transform: uppercase;
    font-weight: $font-weight-regular;
    text-align: center;
}


h2,
.h2 {
   color: $color-black;
   font-family: $font-headers;
   font-size: 6.8rem;
   font-weight: $font-weight-bold;
   text-transform: uppercase;
   

   @include mq($bp-medium) {
      font-size: 12rem;

  }

  @include mq($bp-large) {
      font-size: 13.6rem;
  }

  @include mq($bp-xlarge) {
      font-size: 18rem;

  }
}


h3,
.h3 {
   color: $color-black;
   font-family: $font-headers;
   font-size: 3.6rem;
   font-weight: $font-weight-bold;
   text-transform: uppercase;
   
}