@import './mixins';
@import './sass-variables';



.full-width-image {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    border-radius: 1.6rem;
    box-shadow: $color-box-shadow-person;

    @include mq($bp-medium) {
        border-radius: 2rem;
    }

    &--height-variation {
        height: 50vh;
        width: 100%;
        object-fit: cover;
        border-radius: 1.6rem;
        box-shadow: $color-box-shadow-person;

        @include mq($bp-medium) {
            border-radius: 2rem;
        }
    }
}