@import './mixins';
@import './sass-variables';


h1,
h2,
h3,
p,
a,
Link,
div, 
section {
    margin: 0;
    padding: 0;
}

.main--padding {
    padding: 4.8rem 1.6rem;

    @include mq($bp-medium) {
        padding: 6.4rem 3.2rem;

    }

    @include mq($bp-large) {
        padding: 8rem 4.8rem;

    }

    @include mq($bp-xlarge) {
        padding: 9.2rem 6rem;

    }
}


.vertical-padding {
    padding-left: 1.6rem;
    padding-right: 1.6rem;

    @include mq($bp-medium) {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    @include mq($bp-large) {
        padding-left: 4.8rem;
        padding-right: 4.8rem;
    }

    @include mq($bp-xlarge) {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}


.home-intro {
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 3.2rem;

    @include mq($bp-lowermedium) {
        height: 90vh;
    }

    @include mq($bp-xlarge) {
        height: 96vh;
    }



    &__hero {
        // padding-top: 36rem;
        // padding-bottom: 4rem;

        @include mq($bp-large) {
            // padding-top: 20rem;
        }

        @include mq($bp-xlarge) {
            // padding-top: 24rem;
        }
    }

    &__desc {
        padding: 10rem 0;

        @include mq($bp-medium) {
            padding: 10rem 0 16rem;
        }

        &-text {
           padding-bottom: 3.6rem;

            @include mq($bp-medium) {
                padding-right: 40%;
            }

            @include mq($bp-uppermedium) {
                padding-right: 50%;
            }
        }
    }
}


.portfolio {
    padding-top: 18.4rem;

    @include mq($bp-medium) {
        padding-top: 16.8rem;
    }

    @include mq($bp-large) {
        padding-top: 15.2rem;
    }

    @include mq($bp-xlarge) {
        padding-top: 14rem;
    }

    &__header {
        padding-bottom: 4rem;
    }

}


