@import './mixins';
@import './sass-variables';


h1,
h2,
h3,
p,
a,
Link,
div, 
section {
    margin: 0;
    padding: 0;
}


.vertical-padding {
    padding-left: $vertical-padding-base;
    padding-right: $vertical-padding-base;
}


.home-hero {
    height: 86vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 3.2rem;

    @include mq($bp-medium) {
        height: 90vh;
    }

    @include mq($bp-uppermedium) {
        height: 90vh;
    }


    @include mq($bp-xlarge) {
        height: 96vh;
    }

    &__header {
        width: 100%;
        display: grid;
        gap: 2rem;

        &__a {
            
            @include mq($bp-medium) {
                justify-self: flex-end;
            }
        }
    }
}

.home-intro {
    padding: 10rem 0;

    @include mq($bp-medium) {
        padding: 10rem 0 16rem;
    }

    &__text {
        padding-bottom: 3.6rem;

        @include mq($bp-medium) {
            padding-right: 40%;
        }

        @include mq($bp-uppermedium) {
            padding-right: 50%;
        }
    }
}

.about-section {

    &__text {

        &__top {
            padding-right: 0;

            @include mq($bp-lowermedium) {
                padding-right: 16rem;
            }

            @include mq($bp-uppermedium) {
                padding-right: 0;
            }
        }


        &__bottom {
            padding-left: 0;

            @include mq($bp-lowermedium) {
                padding-left: 16rem;
            }

            @include mq($bp-uppermedium) {
                padding-left: 0;
                padding-top: 6rem;
            }

            & > p {
                padding-top: 6rem;
                padding-bottom: 10rem;
            }

        }
    }

    &__socials {

        &__text {
            padding-top: 10rem;
            padding-bottom: 3.6rem;

            @include mq($bp-large) {
                padding-bottom: 6rem;
            }
        }
    }
}

.cards-section {

    &__left {
        padding-right: 0;

        @include mq($bp-lowermedium) {
            padding-right: 16rem;
        }

        @include mq($bp-medium) {
            padding-right: 0;
        }
    }

    &__right {
        padding-left: 0;

        @include mq($bp-lowermedium) {
            padding-left: 16rem;
        }

        @include mq($bp-medium) {
            padding-left: 0;
            padding-top: 10rem;
        }
    }

    & h3 {
        padding-bottom: 2rem;

    }
}



.portfolio {
    padding-top: $padding-top-portfolio-base;

    &__header {
        padding-bottom: 4rem;
    }

}



.project {
    padding-top: $padding-top-project-base;

}