// Colors
$color-white: hsl(306 0% 100%); // #FFFFFF
$color-off-white: hsl(36 26% 96%); // #F8F6F3
$color-red: hsl(3 82% 59%); // #EC483F
$color-blue: hsl(240 96% 58%); // #312DFB
$color-green: hsl(81 100% 69%); // #C9FF63
$color-gray: hsl(36 16% 93%); // #F0EEEA
$color-black: hsl(0 0% 6%); // #101010


//Transparencies
$color-off-white-trans: hsla(36, 26%, 96%, 0.8); // #F8F6F3
$color-gray-trans: hsla(36, 16%, 93%, 0.95); // #F8F6F3


// Color implementation
$color-bg-white: $color-white;
$color-bg-off-white: $color-off-white;
$color-bg-red: $color-red;
$color-bg-blue: $color-blue;
$color-bg-green: $color-green;
$color-bg-gray: $color-gray;
$color-bg-black: $color-black;

//Transparencies color implementation
$color-bg-off-white-trans: $color-off-white-trans; 
$color-bg-gray-trans: $color-gray-trans; 


$color-bg-gray-darker: darken($color-bg-gray, 8%);


// Shadows
$color-box-shadow-project: 0 0 .8rem $color-bg-gray-darker;
$color-box-shadow-person: 0 0 .8rem .4rem $color-bg-gray;

// Fonts

    // Typefonts
$font-primary:'IBM Plex Mono', 'Courier New', Courier, monospace;
$font-secondary: 'Roboto Condensed', 'Helvetica', 'Arial Narrow', sans-serif;
$font-primary-assistant: 'Fira Sans Condensed', 'Helvetica', 'Arial Narrow', sans-serif;
$font-secondary-assistant: 'VT323', monospace;

    // Weights
$font-weight-regular: 400;
$font-weight-bold: 700;


// Fonts implementations

    // Headers
$font-headers: $font-secondary;
$font-headers--variation: $font-primary-assistant;

    // Paragraphs 
$font-p-main: $font-primary;
$font-p-main-bigger: $font-primary-assistant;
$font-p-fixed: $font-secondary;
$font-p-fixed-small: $font-primary;
$font-title: $font-secondary;
$font-title-variation: $font-secondary-assistant;

    // Buttons & Links
$font-btn-primary: $font-primary;
$font-btn-secondary: $font-secondary;



// Font sizes implementations

    // Hero title
$hero-font-size-base: clamp(4.4rem, 6.27vw + 1.95rem, 14rem);
    //H2 title
$h2-font-size-base: clamp(6.8rem, 7.32vw + 3.95rem, 18rem);
    //Accent text
$accent-text-font-size-base: clamp(8.4rem, 8.89vw + 4.93rem, 22rem);
    // Project intro text description
$project-intro-font-size-base: clamp(3.6rem, 2.09vw + 2.78rem, 6.8rem);
    // 404 font size
$error404-font-size-base: clamp(12.5rem, 23.53vw + 6.76rem, 35rem);



    // Buttons

$button-font-size-sm: 2rem;
$button-font-size-md: 2.4rem;
$button-font-size-lg: 2.8rem;

    // Buttons sizes implementations
$button-primary-font-size: $button-font-size-lg;
$button-secondary-font-size: $button-font-size-md;
$button-terciary-font-size: $button-font-size-sm;
$button-topbar-font-size: $button-font-size-sm;
$button-project-nav-font-size: $button-font-size-sm;




// Padding implementations
    // Vertical main paddings
$vertical-padding-base: clamp(1.6rem, 2.88vw + 0.48rem, 6rem);
    // Portfolio paddings
$padding-top-portfolio-base: clamp(11.5rem, -2.88vw + 12.2rem, 8.75rem);
    // Project paddings
$padding-top-project-base: clamp(6.75rem, 3.92vw + 5.79rem, 10.5rem);



// Mediaqueries
$bp-small: 24rem; // 384px 
$bp-lowermedium: 37rem; // 592px
$bp-medium: 48rem; // 768px
$bp-uppermedium: 60rem; // 960px
$bp-lowerlarge: 75rem; // 1216px
$bp-large: 90rem; // 1440px
$bp-xlarge: 120rem; // 1920px


// Variables for @each / @for / etc

// Maps
$map-colors: (
    "white": $color-white,
    "off-white": $color-off-white,
    "red": $color-red,
    "blue": $color-blue,
    "green": $color-green,
    "gray": $color-gray,
    "black": $color-black
);

$map-layers: (
    "below": -1,
    "default": 0,
    "above": 1,
    "over": 2,
    "top": 3
);

@function z($layer) {
    @return map-get($map-layers, $layer);
}


// Effects

$hover-transition-btn: 0.4s all ease-in-out;
$text-shadow-red: 0 0 5px $color-red;
$text-shadow-blue: 0 0 5px $color-blue;