@import '../scss/mixins';
@import '../scss/sass-variables';


.justify-self--center {
    justify-self: center;
}

.justify-self--end {
    justify-self: end;
}

.text-lowercase-reg {
    text-transform: lowercase;
    font-weight: $font-weight-regular;
}


// Loop for text color and background colors
@each $color, $i in $map-colors {
    .text-color-#{$color} {
        color: $i;
    }
    
    .bg-color-#{$color} {
        background-color: $i;
    } 
}


